URxvt.perl-ext-common: default,selection-autotransform,font-size

URxvt.font: xft:roboto mono:size=10
!URxvt.letterSpace:-3


! Base16 OceanicNext
! Scheme: https://github.com/voronianski/oceanic-next-color-scheme

URxvt*scrollColor:                    #C0C5CE
URxvt*highlightColor:                 #4F5B66
URxvt*highlightTextColor:             #A7ADBA

! special
*.foreground:   #ffffff
*.background:   #292929
*.cursorColor:  #ffffff

! black
*.color0:       #111111
*.color8:       #666666

! red
*.color1:       #d36265
*.color9:       #ef8171

! green
*.color2:       #aece91
*.color10:      #cfefb3

! yellow
*.color3:       #e7e18c
*.color11:      #fff796

! blue
*.color4:       #5297cf
*.color12:      #74b8ef

! magenta
*.color5:       #963c59
*.color13:      #b85e7b

! cyan
*.color6:       #5e7175
*.color14:      #a3babf

! white
*.color7:       #bebebe
*.color15:      #ffffff

URxvt.scrollBar: false
URxvt*fading: 25
URxvt*transparent: true
!URxvt*tintColor: #FF0000
URxvt*shading: 25
!URxvt*blurRadius: 25
URxvt.font-size.step: 4



Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

